:root {
    --background-color: rgba(232, 240, 194, 1); /* Jungle Mist */
    --text-color: rgba(50, 77, 24, 1); /* Deep Jungle Green */
    --nav-background-color: rgba(181, 211, 87, 0.5); /* Light Jungle Green with some transparency */
    --nav-text-color: rgba(50, 77, 24, 1); /* Deep Jungle Green */
    --nav-hover-background-color: rgba(140, 165, 50, 1); /* Jungle Green */
    --nav-hover-text-color: rgba(232, 240, 194, 1); /* Jungle Mist */
}



body {
    font-family: Montserrat, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
    /* background-image: url("assets/74-749270_jungle-leaf-png.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/Jungle-Background-PNG.png");
    background-position: center;

}

h1 {
    color: var(--h1-color);
    text-align: center;
}

p {
    margin-left: 344px;
    margin-right: 344px;
    text-align: justify;

}
ul {
    margin-left: 344px;
    margin-right: 344px;
    text-align: justify;

}

.nav-bar {
    background-color: var(--nav-background-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.nav-bar li {
    margin: 0 20px;
}

.nav-bar a {
    display: block;
    color: var(--nav-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.nav-bar a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-text-color);
}

.page {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.page.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.5s linear;
}


.page.hide {
    opacity: 0;
}

.animated-text {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 28px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(135,206,250,1) 0%, rgba(30,144,255,1) 100%);
    transition: .4s;
    border-radius: 24px;
}

.toggle-switch label:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 1);
    transition: .4s;
    border-radius: 50%;
}

.toggle-switch input:checked + label {
    background: linear-gradient(to bottom, rgba(25,25,112,1) 0%, rgba(0,0,128,1) 100%);
}

.toggle-switch input:checked + label:before {
    transform: translateX(32px);
}

.toggle-switch label:after {
    position: absolute;
    content: "☀️";
    height: 20px;
    width: 20px;
    right: 4px;
    bottom: 4px;
    color: rgba(0, 0, 0, 1);
    transition: .4s;
    text-align: center;
    line-height: 20px;
}

.toggle-switch input:checked + label:after {
    content: "🌙";
    color: rgba(255, 255, 255, 1);
    right: auto;
    left: 4px;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 28px;
    margin: auto;
}

#menuContainer {
    position: absolute;
    z-index: 1;
    cursor: move;
}

#menuButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#menuContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-hidden {
    display: none;
}
/* Leaf code is unsed for now */
.leaf {
    position: absolute;
    background: url('assets/kindpng_1316953.png');
    background-size: cover;
    width: 20px;
    height: 40px;
    transform: rotateZ(360deg);
}

.leaf.big {
    width: 40px;
    height: 80px;
}

.leaf.green {
    filter: hue-rotate(20deg);
}

.leaf.yellow {
    filter: hue-rotate(-20deg);
}

#jungle-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#progress-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#progress-bar {
    height: 100%;
    width: 0;
    background: rgba(0, 255, 0, 0.7);
}

.jungle-gradient-text {
    font-size: 2.5em;
    background: linear-gradient(270deg, #29AB87, #4CBB17);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: Gradient 3s infinite linear;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#countdown {
    font-family: 'Montserrat', cursive; /* Use a font that best represents your theme */
    color: rgba(140, 165, 50, 1); /* Jungle green for the color */
    background-size: cover;
    text-shadow: 2px 2px rgba(50, 77, 24, 1); /* Give a shadow effect to the text to create depth */
    font-size: 40px;
}

.github-contact {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.github-contact:hover {background-color: #3e8e41}

.github-contact:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* This is for the phone additected Gen Z (i am a phone addicted gen z) */
@media screen and (max-width: 600px) {
    body {
        font-size: 16px; /* Adjust base font size for mobile */
        background-image: url("assets/jungle-rainforers-mobile.png");

    }

    p, ul {
        margin-left: 20px;
        margin-right: 20px;
    }

    .nav-bar {
        flex-direction: column; /* Make the navbar vertical */
    }

    .nav-bar ul {
        flex-direction: column; /* Make the navbar list vertical */
        align-items: center; /* Center the items */
    }

    .nav-bar li {
        margin: 10px 0; /* Adjust margins for each navbar item */
    }

    .nav-bar a {
        padding: 10px; /* Adjust padding for each navbar link */
    }

    h1 {
        font-size: 24px; /* Adjust h1 size */
    }

    #countdown {
        font-size: 24px; /* Adjust countdown size */

    }
}


